# Dependencies
node_modules/

# Environment files
.env
.env.*
backend/.env
backend/.env.example
frontend/.env
frontend/.env.example

# Build files
dist/
build/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/